<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Issue Tracker</title>
    <!-- CSS files -->
    <link href="~/dist/css/tabler.min.css?1684106062" rel="stylesheet"/>
    <link href="~/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
    <link href="~/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
    <link href="~/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
    <link href="~/dist/css/demo.min.css?1684106062" rel="stylesheet"/>
    <link href="~/custom/css/app.css?1684106063" rel="stylesheet"/>
    <link href="~/dist/libs/toastr/css/toastr.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/dist/libs/font-awesome/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/dist/libs/tom-select/dist/css/tom-select.css" rel="stylesheet">
    
    <script src="~/dist/libs/tom-select/dist/js/tom-select.complete.js"></script>
    <script src="~/dist/libs/tinymce/js/tinymce.min.js?1684106062" defer></script>
    <style>
      @@import url('//rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
</head>
<body class=" layout-fluid">
<script src="~/dist/js/demo-theme.min.js?1684106062"></script>
<div class="page">
    <!-- Sidebar -->
    @Html.Partial("Partials/_SidebarView")
    <div class="page-wrapper">

        @Html.Partial("Partials/_PageHeaderView")
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("Partials/_FooterView")
    </div>
</div>
<!-- Libs JS -->
<script src="~/dist/libs/apexcharts/dist/apexcharts.min.js?1684106062" defer></script>
<script src="~/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1684106062" defer></script>
<script src="~/dist/libs/jsvectormap/dist/maps/world.js?1684106062" defer></script>
<script src="~/dist/libs/jsvectormap/dist/maps/world-merc.js?1684106062" defer></script>
<!-- Tabler Core -->
<script src="~/dist/js/tabler.min.js?1684106062" defer></script>
<script src="~/dist/js/demo.min.js?1684106062" defer></script>
@* <script src="~/dist/js/vue-prod-3.4.27.min.js"></script> *@
<script src="~/dist/js/vue-global-3.4.27.js"></script>
<script src="~/dist/libs/jquery/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
<script src="~/dist/libs/toastr/js/toastr.min.js" defer></script>

@Html.Partial("Partials/_NotificationView");
@Html.Partial("Partials/_Select2Config");
@Html.Partial("Partials/_SweetAlertConfig");
@RenderSection("Scripts", required: false)
</body>
</html>